<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAMP</title>
    <link rel="stylesheet" href="css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>
<body>
   <section>
        <h2 class="title">
        <span class="title-word title-word-1">L</span>
        <span class="title-word title-word-2">A</span>
        <span class="title-word title-word-3">M</span>
        <span class="title-word title-word-4">P</span>
        <h2>90's Todo List</h2>
        <a href="/login">Enter</a>
    </section>
</body>
</html>